* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--violet-clair);
	padding: 24px 20px 16px 20px;
}

.none {
	display: none;
}

li {
	list-style: none;
}

#Hero {
	background-color: var(--violet-clair);
	display: flex;
	align-items: center;
	justify-content: center;
}

.H1hero {
	color: #ffffff;
	margin: 0;
	width: 100%;
}

.Phero {
	color: #ffffff;
	width: 80%;
}

.ordonerhero {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
	padding: 24px 20px;
}

.test {
	background: center / cover url("../asset/vaqueiphone.png") no-repeat;
	width: 100vw;
	height: 120px;
	background-color: var(--violet-clair);
}

#démo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background: linear-gradient(
		90deg,
		rgba(82, 54, 130, 1) 25%,
		rgba(96, 98, 232, 1) 100%
	);
	padding: 20px;
	text-align: center;
	color: #ffffff;
}

.contacteus {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
	gap: 10px;
}

#email {
	width: 100%;
}

.None {
	display: none;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
	padding: 24px;
}

#énorme {
	width: 100%;
}

#deslient {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
}

.logo {
	width: 100%;
}

/* spéciale blog \/ */

#Blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding: 24px 48px;
	color: rgba(58, 58, 58, 1);
}

#toutlesblog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.log {
	padding: 24px 36px;
	border-radius: 12px;
	color: rgba(30, 30, 30, 1);
	width: 100%;
	height: 100%;
}

#back1 {
	background: center / cover url(../asset/back1.png) no-repeat;
}
#back2 {
	background: center / cover url(../asset/back2.png) no-repeat;
}
#back3 {
	background: center / cover url(../asset/back3.png) no-repeat;
}
#back4 {
	background: center / cover url(../asset/back4.png) no-repeat;
}
#back5 {
	background: center / cover url(../asset/back5.png) no-repeat;
}

.info {
	padding: 12px;
	border-radius: 8px;
	background-color: var(--blanc-blanc);
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
}

.ChangementDirection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: rgba(86, 86, 86, 1);
}

#Testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	background-color: rgba(146, 96, 232, 1);
	padding: 24px;
}

#testi1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	width: 100%;
}

#VaEnHaut {
	display: flex;
	align-items: start;
}

.titreTestimonial {
	width: 50%;
	text-align: center;
}

#testi2 {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 24px;
	color: #ffffff;
	width: 100%;
}

.Timg {
	width: 90px;
	height: 90px;
	border-radius: 9999px;
	object-fit: cover;
}

@media screen and (min-width: 768px) {
	.noneafter {
		display: none;
	}

	.none {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 32px;
	}

	.test {
		background: center / cover url("../asset/vaquetablet.png") no-repeat;
		width: 100vw;
		height: 120px;
		background-color: var(--violet-clair);
	}

	.licorn {
		width: 30%;
	}

	#Hero {
		padding-right: 40px;
	}

	#deslient {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	/* spéciale blog \/ */

	#toutlesblog {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 48px;
	}

	#Testimonial {
		padding: 48px 64px;
	}

	#testi2 {
		width: 80%;
	}
}

@media screen and (min-width: 1024px) {
	header {
		padding: 32px 28px 20px 28px;
	}

	.test {
		background: center / cover url("../asset/vaguedesktop.png") no-repeat;
		width: 100vw;
		height: 120px;
		background-color: var(--violet-clair);
	}

	.None {
		display: block;
		width: 15%;
	}

	.barre {
		width: 4px;
		height: 65px;
		background-color: rgba(224, 224, 224, 1);
	}

	#deslient {
		width: 60%;
	}

	#énorme {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.adjust {
		width: 100%;
	}

	footer {
		padding: 24px 36px;
	}

	/* spéciale blog \/ */

	#toutlesblog {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#testi1 {
		width: 70%;
	}

	#testi2 {
		width: 50%;
	}
}
