* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--violet-clair);
	padding: 24px 20px 16px 20px;
}

.none {
	display: none;
}

li {
	list-style: none;
}

#Hero {
	background-color: var(--violet-clair);
	display: flex;
	align-items: center;
	justify-content: center;
}

.H1hero {
	color: #ffffff;
	margin: 0;
	width: 100%;
}

.Phero {
	color: #ffffff;
	width: 80%;
}

.ordonerhero {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
	padding: 24px 20px;
}

.test {
	background: center / cover url("../asset/vaqueiphone.png") no-repeat;
	width: 100vw;
	height: 120px;
	background-color: var(--violet-clair);
}

#démo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background: linear-gradient(
		90deg,
		rgba(82, 54, 130, 1) 25%,
		rgba(96, 98, 232, 1) 100%
	);
	padding: 20px;
	text-align: center;
	color: #ffffff;
}

.contacteus {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
	gap: 10px;
}

#email {
	width: 100%;
}

.None {
	display: none;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
	padding: 24px;
}

#énorme {
	width: 100%;
}

#deslient {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
}

.logo {
	width: 100%;
}

/* spéciale contact \/ */

#CONTACT {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;
	text-align: center;
}

#formulaire {
	background: linear-gradient(270deg, #6062e8 0%, #523682 100%);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 24px;
	color: white;
	gap: 42px;
}

.infoformulaire {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	gap: 24px;
}

.wtf {
	width: 100%;
}

.extt {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: start;
	width: 100%;
	gap: 48px;
}

.cent {
	width: 100%;
}

.newletter {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.noneafter {
		display: none;
	}

	.none {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 32px;
	}

	.test {
		background: center / cover url("../asset/vaquetablet.png") no-repeat;
		width: 100vw;
		height: 120px;
		background-color: var(--violet-clair);
	}

	.licorn {
		width: 30%;
	}

	#Hero {
		padding-right: 40px;
	}

	#deslient {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	/* spéciale contact \/ */
}

@media screen and (min-width: 1024px) {
	header {
		padding: 32px 28px 20px 28px;
	}

	.test {
		background: center / cover url("../asset/vaguedesktop.png") no-repeat;
		width: 100vw;
		height: 120px;
		background-color: var(--violet-clair);
	}

	.None {
		display: block;
		width: 15%;
	}

	.barre {
		width: 4px;
		height: 65px;
		background-color: rgba(224, 224, 224, 1);
	}

	#deslient {
		width: 60%;
	}

	#énorme {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.adjust {
		width: 100%;
	}

	footer {
		padding: 24px 36px;
	}

	/* spéciale contact \/ */
}
